{"swagger":"2.0","info":{"version":"v2","title":"WebApi_PreCom"},"host":"pre-com.nl","basePath":"/Mobile","schemes":["https"],"paths":{"/api/Account/Logout":{"post":{"tags":["Account"],"summary":"POST api/Account/Logout","operationId":"Account_Logout","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Account/ResetPassword":{"post":{"tags":["Account"],"summary":"POST api/Account/ResetPassword","operationId":"Account_ResetPassword","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"email","in":"query","description":"Unique email address of the user","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/Account/Logout":{"post":{"tags":["Account"],"summary":"POST api/Account/Logout","operationId":"Account_Logout","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/Account/ResetPassword":{"post":{"tags":["Account"],"summary":"POST api/Account/ResetPassword","operationId":"Account_ResetPassword","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"email","in":"query","description":"Unique email address of the user","required":true,"type":"string"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/Available/SetAvailable":{"post":{"tags":["Available"],"summary":"Set current user to available","operationId":"Available_SetAvailable","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/v{version}/Available/SetGeofencePosition":{"post":{"tags":["Available"],"summary":"Set current geofence position","operationId":"Available_SetGeofencePosition","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"distance","in":"query","description":"Distance from position","required":true,"type":"integer","format":"int32"},{"name":"address","in":"query","description":"Address of position","required":true,"type":"string"},{"name":"latitude","in":"query","description":"GPS latitude","required":false,"type":"number","format":"double"},{"name":"longitude","in":"query","description":"GPS longitude","required":false,"type":"number","format":"double"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/Available/SetOutsideRegion":{"post":{"tags":["Available"],"summary":"Set current user in or outside region. Outside region is not available, inside region only available when pager offline.","operationId":"Available_SetOutsideRegion","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"hours","in":"query","description":"set unavailable for xx hours with the reason (outside region)","required":true,"type":"integer","format":"int32"},{"name":"region","in":"body","description":"Location with Geofence text EXIT or ENTER region","required":true,"schema":{"$ref":"#/definitions/WebApi_PreCom.Models.Region"}},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/v{version}/Capcode/GetUserCapcodes":{"get":{"tags":["Capcode"],"summary":"Get all user capcodes","operationId":"Capcode_GetUserCapcodes","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.Capcode"}}}}}},"/api/v{version}/Capcode/UpdateUserCapcode":{"post":{"tags":["Capcode"],"summary":"Enable or disable user capcode","operationId":"Capcode_UpdateUserCapcode","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"capcode","in":"query","description":"Capcode number","required":true,"type":"integer","format":"int32"},{"name":"enable","in":"query","description":"true to enable capcode","required":true,"type":"boolean"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Group/GetAllGroups":{"get":{"tags":["Group"],"summary":"Receive all groups.","operationId":"Group_GetAllGroups","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.V1.Group"}}}}}},"/api/Group/GetAllUserGroups":{"get":{"tags":["Group"],"summary":"Receive all groups to which the user belongs (today).","operationId":"Group_GetAllUserGroups","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.V1.Group"}}}}}},"/api/Group/GetAllFunctions":{"get":{"tags":["Group"],"summary":"Receive all functions (and user+scheduler information) which are configured to this group.","operationId":"Group_GetAllFunctions","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"groupID","in":"query","description":"Identifier of the group","required":true,"type":"integer","format":"int32"},{"name":"date","in":"query","description":"DateTime Date for getting the right users available at that day","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WebApi_PreCom.Models.V1.Group"}}}}},"/api/Group/GetAllDaysNoOccupancy":{"get":{"tags":["Group"],"summary":"Receive all days (from today) for which this group has not enough users available.","operationId":"Group_GetAllDaysNoOccupancy","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"groupID","in":"query","description":"Identifier of the group","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"format":"date-time","type":"string"}}}}}},"/api/Group/GetOccupancyLevels":{"get":{"tags":["Group"],"summary":"Receive days (from today) with a value for every day, which indicates the remainder of shortage of users in this group.\r\nPositive is enough, negative is to short, 0 = exact enough.","operationId":"Group_GetOccupancyLevels","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"groupID","in":"query","description":"Identifier of the group","required":true,"type":"integer","format":"int32"},{"name":"from","in":"query","description":"DateTime from date","required":true,"type":"string","format":"date-time"},{"name":"to","in":"query","description":"DateTime to date","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"format":"int32","type":"integer"}}}}}},"/api/v{version}/Group/GetAllGroups":{"get":{"tags":["Group"],"summary":"Receive all groups.","operationId":"Group_GetAllGroups","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.V2.Group"}}}}}},"/api/v{version}/Group/GetAllUserGroups":{"get":{"tags":["Group"],"summary":"Receive all groups to which the user belongs (today).","operationId":"Group_GetAllUserGroups","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.V2.Group"}}}}}},"/api/v{version}/Group/GetAllFunctions":{"get":{"tags":["Group"],"summary":"Receive all functions (and user+scheduler information) which are configured to this group.","operationId":"Group_GetAllFunctions","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"groupID","in":"query","description":"Identifier of the group","required":true,"type":"integer","format":"int32"},{"name":"date","in":"query","description":"DateTime Date for getting the right users available at that day","required":true,"type":"string","format":"date-time"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WebApi_PreCom.Models.V2.Group"}}}}},"/api/v{version}/Group/GetAllDaysNoOccupancy":{"get":{"tags":["Group"],"summary":"Receive all days (from today) for which this group has not enough users available.","operationId":"Group_GetAllDaysNoOccupancy","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"groupID","in":"query","description":"Identifier of the group","required":true,"type":"integer","format":"int32"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"format":"date-time","type":"string"}}}}}},"/api/v{version}/Group/GetOccupancyLevels":{"get":{"tags":["Group"],"summary":"Receive days (from today) with a value for every day, which indicates the remainder of shortage of users in this group.\r\nPositive is enough, negative is to short, 0 = exact enough.","operationId":"Group_GetOccupancyLevels","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"groupID","in":"query","description":"Identifier of the group","required":true,"type":"integer","format":"int32"},{"name":"from","in":"query","description":"DateTime from date","required":true,"type":"string","format":"date-time"},{"name":"to","in":"query","description":"DateTime to date","required":true,"type":"string","format":"date-time"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"format":"int32","type":"integer"}}}}}},"/api/v{version}/GroupChange/GetGroupChange":{"get":{"tags":["GroupChange"],"summary":"Get current group change","operationId":"GroupChange_GetGroupChange","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WebApi_PreCom.Models.GroupChange"}}}}},"/api/v{version}/GroupChange/GetAllGroupChanges":{"get":{"tags":["GroupChange"],"summary":"Get all group changes","operationId":"GroupChange_GetAllGroupChanges","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.GroupChange"}}}}}},"/api/v{version}/GroupChange/AddGroupChangeForDays":{"post":{"tags":["GroupChange"],"summary":"Add new/update first group change day(s)","operationId":"GroupChange_AddGroupChangeForDays","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"groupId","in":"query","description":"Unique group id","required":true,"type":"integer","format":"int32"},{"name":"dates","in":"body","description":"List of days","required":true,"schema":{"type":"array","items":{"format":"date-time","type":"string"}}},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/GroupChange/UpdateGroupChangeForDays":{"post":{"tags":["GroupChange"],"summary":"Add new/update specific group change day(s)","operationId":"GroupChange_UpdateGroupChangeForDays","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"groupUserID","in":"query","description":"Unique group change id","required":true,"type":"integer","format":"int32"},{"name":"groupId","in":"query","description":"Unique group id","required":true,"type":"integer","format":"int32"},{"name":"dates","in":"body","description":"List of days","required":true,"schema":{"type":"array","items":{"format":"date-time","type":"string"}}},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/GroupChange/AddGroupChangeForPeriod":{"post":{"tags":["GroupChange"],"summary":"Add new/update first group change period","operationId":"GroupChange_AddGroupChangeForPeriod","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"groupId","in":"query","description":"Unique group id","required":true,"type":"integer","format":"int32"},{"name":"from","in":"query","description":"From moment","required":true,"type":"string","format":"date-time"},{"name":"to","in":"query","description":"To moment","required":true,"type":"string","format":"date-time"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/GroupChange/UpdateGroupChangeForPeriod":{"post":{"tags":["GroupChange"],"summary":"Add new/update specific new group change period","operationId":"GroupChange_UpdateGroupChangeForPeriod","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"groupUserID","in":"query","description":"Unique group change id","required":true,"type":"integer","format":"int32"},{"name":"groupId","in":"query","description":"Unique group id","required":true,"type":"integer","format":"int32"},{"name":"from","in":"query","description":"From moment","required":true,"type":"string","format":"date-time"},{"name":"to","in":"query","description":"To moment","required":true,"type":"string","format":"date-time"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/GroupChange/AddGroupChangePeriodically":{"post":{"tags":["GroupChange"],"summary":"Add new/update first group change periodically","operationId":"GroupChange_AddGroupChangePeriodically","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"groupId","in":"query","description":"Unique group id","required":true,"type":"integer","format":"int32"},{"name":"weekdays","in":"query","description":"Bit pattern active days","required":true,"type":"integer","format":"int32"},{"name":"startTime","in":"query","description":"Start time","required":true,"type":"string","format":"date-time"},{"name":"stopTime","in":"query","description":"Stop time","required":true,"type":"string","format":"date-time"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/GroupChange/UpdateGroupChangePeriodically":{"post":{"tags":["GroupChange"],"summary":"Add new/update specific group change periodically","operationId":"GroupChange_UpdateGroupChangePeriodically","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"groupUserID","in":"query","description":"Unique group change id","required":true,"type":"integer","format":"int32"},{"name":"groupId","in":"query","description":"Unique group id","required":true,"type":"integer","format":"int32"},{"name":"weekdays","in":"query","description":"Bit pattern active days","required":true,"type":"integer","format":"int32"},{"name":"startTime","in":"query","description":"Start time","required":true,"type":"string","format":"date-time"},{"name":"stopTime","in":"query","description":"Stop time","required":true,"type":"string","format":"date-time"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/GroupChange/DeleteOneTypeGroupChange":{"delete":{"tags":["GroupChange"],"summary":"Delete one group type change","operationId":"GroupChange_DeleteOneTypeGroupChange","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"groupId","in":"query","description":"Unique group id","required":true,"type":"integer","format":"int32"},{"name":"type","in":"query","description":"Change type to delete","required":true,"type":"integer","format":"int32"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/GroupChange/DeleteGroupChange":{"delete":{"tags":["GroupChange"],"summary":"Delete current/first group change","operationId":"GroupChange_DeleteGroupChange","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/GroupChange/DeleteOneGroupChange":{"delete":{"tags":["GroupChange"],"summary":"Delete one group change with groupUserId","operationId":"GroupChange_DeleteOneGroupChange","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"groupUserId","in":"query","required":true,"type":"integer","format":"int32"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/Information/GetInformation":{"get":{"tags":["Information"],"summary":"Get current node information","operationId":"Information_GetInformation","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.Information"}}}}}},"/api/v{version}/Message/GetAlarmMessages":{"get":{"tags":["Message"],"summary":"Receive alarm logging for groups where this users to belongs.","operationId":"Message_GetAlarmMessages","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"msgInID","in":"query","description":"Int32 Id of the message","required":true,"type":"integer","format":"int32"},{"name":"previousOrNext","in":"query","description":"Int16 0=is last message msgInID is ignored, Negative value is message(s) earlier than msgInID, Positive value is message(s) later than msgInID","required":true,"type":"integer","format":"int32"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.V2.MsgInLog"}}}}}},"/api/v{version}/Message/GetMessages":{"get":{"tags":["Message"],"summary":"Receive valid messages for current user","operationId":"Message_GetMessages","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"controlID","in":"query","description":"Nullable char, null for all messages, 'b' for all P2000 alarm messages, ‘f' GPRS message, ‘g’ Understaffing notification messages","required":false,"type":"string"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.MsgOut"}}}}}},"/api/v{version}/Message/SetAvailabilityForAlarmMessage":{"post":{"tags":["Message"],"summary":"Set availability for alarm message","operationId":"Message_SetAvailabilityForAlarmMessage","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"msgInID","in":"query","description":"Int32 Id of the message","required":true,"type":"integer","format":"int32"},{"name":"available","in":"query","description":"Boolean with availability for this message","required":true,"type":"boolean"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/Piket/GetSchedule":{"get":{"tags":["Piket"],"operationId":"Piket_GetSchedule","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"userId","in":"query","required":true,"type":"integer","format":"int32"},{"name":"groupId","in":"query","required":true,"type":"integer","format":"int32"},{"name":"from","in":"query","required":true,"type":"string","format":"date-time"},{"name":"to","in":"query","required":true,"type":"string","format":"date-time"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.V2.UserPiketScheduleAppointment"}}}}}},"/api/v{version}/Piket/AddScheduleItem":{"post":{"tags":["Piket"],"operationId":"Piket_AddScheduleItem","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"groupId","in":"query","required":true,"type":"integer","format":"int32"},{"name":"serviceFunctionId","in":"query","required":true,"type":"integer","format":"int32"},{"name":"start","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/Piket/UpdateScheduleItem":{"post":{"tags":["Piket"],"operationId":"Piket_UpdateScheduleItem","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"integer","format":"int32"},{"name":"start","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/Piket/DeleteScheduleItem":{"delete":{"tags":["Piket"],"operationId":"Piket_DeleteScheduleItem","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"integer","format":"int32"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/Piket/TakeScheduleItem":{"post":{"tags":["Piket"],"operationId":"Piket_TakeScheduleItem","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"integer","format":"int32"},{"name":"start","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/PreComMessage/GetReceivers":{"get":{"tags":["PreComMessage"],"summary":"Get List of receivers users/groups and message groups\r\nReturns a empty list when not authorized for the group or user in question.","operationId":"PreComMessage_GetReceivers","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PreCom.Model.Receiver"}}}}}},"/api/v{version}/PreComMessage/GetTemplates":{"get":{"tags":["PreComMessage"],"summary":"Get All templates\r\nReturns a empty list when not authorized (no user menu 140003 as right)","operationId":"PreComMessage_GetTemplates","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.TemplatePreComMsg"}}}}}},"/api/v{version}/PreComMessage/SendMessage":{"post":{"tags":["PreComMessage"],"summary":"Send Message","operationId":"PreComMessage_SendMessage","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"preComMsg","in":"body","description":"PreComMsg object","required":true,"schema":{"$ref":"#/definitions/WebApi_PreCom.Models.PreComMsg"}},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Msg/GetReceivers":{"get":{"tags":["PreComMsg"],"summary":"Get List of receivers users/groups and message groups\r\nReturns a empty list when not authorized for the group or user in question.","operationId":"PreComMsg_GetReceivers","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PreCom.Model.Receiver"}}}}}},"/api/Msg/GetTemplates":{"get":{"tags":["PreComMsg"],"summary":"Get All templates\r\nReturns a empty list when not authorized (no user menu 140003 as right)","operationId":"PreComMsg_GetTemplates","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.TemplatePreComMsg"}}}}}},"/api/Msg/SendMessage":{"post":{"tags":["PreComMsg"],"summary":"Send Message","operationId":"PreComMsg_SendMessage","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"preComMsg","in":"body","description":"PreComMsg object","required":true,"schema":{"$ref":"#/definitions/WebApi_PreCom.Models.PreComMsg"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Registration/GetRegistrationId":{"get":{"tags":["Registration"],"summary":"Creates a registration id","operationId":"Registration_GetRegistrationId","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/Registration/UpdateRegistration":{"post":{"tags":["Registration"],"summary":"This creates or updates a registration (with provided PNS handle) at the specified id","operationId":"Registration_UpdateRegistration","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"registrationId","in":"query","description":"string id","required":true,"type":"string"},{"name":"deviceUpdate","in":"body","description":"DeviceRegistration with platform and PNS handle","required":true,"schema":{"$ref":"#/definitions/WebApi_PreCom.Controllers.RegistrationController+DeviceRegistration"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Registration/DeleteRegistration":{"delete":{"tags":["Registration"],"summary":"This deletes a registration with a specified id","operationId":"Registration_DeleteRegistration","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"registrationId","in":"query","description":"string id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/Registration/GetRegistrationId":{"get":{"tags":["Registration"],"summary":"Creates a registration id","operationId":"Registration_GetRegistrationId","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/v{version}/Registration/UpdateRegistration":{"post":{"tags":["Registration"],"summary":"This creates or updates a registration (with provided PNS handle) at the specified id","operationId":"Registration_UpdateRegistration","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"registrationId","in":"query","description":"string id","required":true,"type":"string"},{"name":"deviceUpdate","in":"body","description":"DeviceRegistration with platform and PNS handle","required":true,"schema":{"$ref":"#/definitions/WebApi_PreCom.Controllers.V2.RegistrationController+DeviceRegistration"}},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/Registration/DeleteRegistration":{"delete":{"tags":["Registration"],"summary":"This deletes a registration with a specified id","operationId":"Registration_DeleteRegistration","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"registrationId","in":"query","description":"string id","required":true,"type":"string"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/SchedulerAppointment/GetUserSchedulerAppointments":{"get":{"tags":["SchedulerAppointment"],"summary":"Receive user scheduler information, all unavailable appointments.","operationId":"SchedulerAppointment_GetUserSchedulerAppointments","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"from","in":"query","description":"DateTime from date","required":true,"type":"string","format":"date-time"},{"name":"to","in":"query","description":"DateTime to date","required":true,"type":"string","format":"date-time"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.SchedulerAppointment"}}}}}},"/api/v{version}/SchedulerAppointment/AddUserSchedulerAppointment":{"post":{"tags":["SchedulerAppointment"],"summary":"Update user scheduler available appointment hours for one day.\r\nMax. 3 appointments each day.","operationId":"SchedulerAppointment_AddUserSchedulerAppointment","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"date","in":"query","description":"date of day","required":true,"type":"string","format":"date-time"},{"name":"from","in":"query","description":"TimeSpan from time (only whole quarter of hours)","required":true,"type":"string"},{"name":"to","in":"query","description":"TimeSpan to time (only whole quarter of hours)","required":true,"type":"string"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/SchedulerAppointment/DeleteUserSchedulerAppointment":{"delete":{"tags":["SchedulerAppointment"],"summary":"Update user scheduler not available appointment hours for one day.\r\nMax. 3 appointments each day.","operationId":"SchedulerAppointment_DeleteUserSchedulerAppointment","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"date","in":"query","description":"date of day","required":true,"type":"string","format":"date-time"},{"name":"from","in":"query","description":"TimeSpan from time (only quarter of whole hours)","required":true,"type":"string"},{"name":"to","in":"query","description":"TimeSpan to time (only quarter of whole hours)","required":true,"type":"string"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/SchedulerAppointment/UpdateUserSchedulerPeriod":{"post":{"tags":["SchedulerAppointment"],"summary":"Update user scheduler appointments periodically for many days.\r\nMax. 3 appointments each day.","operationId":"SchedulerAppointment_UpdateUserSchedulerPeriod","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"startDate","in":"query","description":"DateTime from date","required":true,"type":"string","format":"date-time"},{"name":"endDate","in":"query","description":"DateTime to date","required":true,"type":"string","format":"date-time"},{"name":"from","in":"query","description":"TimeSpan from time (only whole hours)","required":true,"type":"string"},{"name":"to","in":"query","description":"TimeSpan to time (only whole hours)","required":true,"type":"string"},{"name":"available","in":"query","description":"bool true = available","required":true,"type":"boolean"},{"name":"weekDays","in":"query","description":"byte bit array, 1 = monday, 2 = tuesday, 4 = wednesday etc.","required":true,"type":"integer","format":"int32"},{"name":"weekly","in":"query","description":"byte 1=every week, 2 = this week, following week not etc.","required":true,"type":"integer","format":"int32"},{"name":"cleanDayFirst","in":"query","description":"bool Day completly available accept new from to moments","required":true,"type":"boolean"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/Shiftwork/GetShiftAppointments":{"get":{"tags":["Shiftwork"],"summary":"Get the current shift appointments","operationId":"Shiftwork_GetShiftAppointments","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WebApi_PreCom.Models.ShiftWork"}}}}},"/api/v{version}/Shiftwork/UpdateShiftAppointments":{"post":{"tags":["Shiftwork"],"summary":"Update the current stored shift appointments in database","operationId":"Shiftwork_UpdateShiftAppointments","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"shiftWork","in":"body","description":"ShiftWork with ShitWorkAppointments","required":true,"schema":{"$ref":"#/definitions/WebApi_PreCom.Models.ShiftWork"}},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/Shiftwork/ImplementShiftAppointments":{"post":{"tags":["Shiftwork"],"summary":"Set the current saved shift appointments in the user calendar","operationId":"Shiftwork_ImplementShiftAppointments","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/User/GetUserInfo":{"get":{"tags":["User"],"summary":"Receive user and group information.\r\nWhen NotAvailable is true, user is not available for alarm come up.\r\nWhen NoOccupancy is true, there are not enough people for a minimum group occupancy.","operationId":"User_GetUserInfo","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WebApi_PreCom.Models.V1.User"}}}}},"/api/User/GetUserMenu":{"get":{"tags":["User"],"summary":"Receive menu for this user\r\nif nodeID is empty, returns homenode menu","operationId":"User_GetUserMenu","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"nodeID","in":"query","description":"Specific node Id","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.Menu"}}}}}},"/api/User/GetUserSchedulerAppointments":{"get":{"tags":["User"],"summary":"Receive user scheduler information, all unavailable appointments.","operationId":"User_GetUserSchedulerAppointments","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"from","in":"query","description":"DateTime from date","required":true,"type":"string","format":"date-time"},{"name":"to","in":"query","description":"DateTime to date","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.SchedulerAppointment"}}}}}},"/api/User/AddUserSchedulerAppointment":{"post":{"tags":["User"],"summary":"Update user scheduler available appointment hours for one day.\r\nMax. 3 appointments each day.","operationId":"User_AddUserSchedulerAppointment","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"date","in":"query","description":"date of day","required":true,"type":"string","format":"date-time"},{"name":"from","in":"query","description":"TimeSpan from time (only whole hours)","required":true,"type":"string"},{"name":"to","in":"query","description":"TimeSpan to time (only whole hours)","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/User/DeleteUserSchedulerAppointment":{"delete":{"tags":["User"],"summary":"Update user scheduler not available appointment hours for one day.\r\nMax. 3 appointments each day.","operationId":"User_DeleteUserSchedulerAppointment","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"date","in":"query","description":"date of day","required":true,"type":"string","format":"date-time"},{"name":"from","in":"query","description":"TimeSpan from time (only whole hours)","required":true,"type":"string"},{"name":"to","in":"query","description":"TimeSpan to time (only whole hours)","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/User/UpdateUserSchedulerPeriod":{"post":{"tags":["User"],"summary":"Update user scheduler appointments periodically for many days.\r\nMax. 3 appointments each day.","operationId":"User_UpdateUserSchedulerPeriod","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"startDate","in":"query","description":"DateTime from date","required":true,"type":"string","format":"date-time"},{"name":"endDate","in":"query","description":"DateTime to date","required":true,"type":"string","format":"date-time"},{"name":"from","in":"query","description":"TimeSpan from time (only whole hours)","required":true,"type":"string"},{"name":"to","in":"query","description":"TimeSpan to time (only whole hours)","required":true,"type":"string"},{"name":"available","in":"query","description":"bool true = available","required":true,"type":"boolean"},{"name":"weekDays","in":"query","description":"byte bit array, 1 = monday, 2 = tuesday, 4 = wednesday etc.","required":true,"type":"integer","format":"int32"},{"name":"weekly","in":"query","description":"byte 1=every week, 2 = this week, following week not etc.","required":true,"type":"integer","format":"int32"},{"name":"cleanDayFirst","in":"query","description":"bool Day completly available accept new from to moments","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/User/GetAlarmMessages":{"get":{"tags":["User"],"summary":"Receive alarm logging for groups where this users to belongs.","operationId":"User_GetAlarmMessages","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"msgInID","in":"query","description":"Int32 Id of the message","required":true,"type":"integer","format":"int32"},{"name":"previousOrNext","in":"query","description":"Int16 0=is last message msgInID is ignored, Negative value is message(s) earlier than msgInID, Positive value is message(s) later than msgInID","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.V1.MsgInLog"}}}}}},"/api/User/GetMessages":{"get":{"tags":["User"],"summary":"Receive valid messages for current user","operationId":"User_GetMessages","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"controlID","in":"query","description":"Nullable char, null for all messages, 'b' for all P2000 alarm messages, ‘f' GPRS message, ‘g’ Understaffing notification messages","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.MsgOut"}}}}}},"/api/User/SetAvailabilityForAlarmMessage":{"post":{"tags":["User"],"summary":"Set availability for alarm message","operationId":"User_SetAvailabilityForAlarmMessage","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"msgInID","in":"query","description":"Int32 Id of the message","required":true,"type":"integer","format":"int32"},{"name":"available","in":"query","description":"Boolean with availability for this message","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/User/SetAvailable":{"post":{"tags":["User"],"summary":"Set current user to available","operationId":"User_SetAvailable","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/User/SetGeofencePosition":{"post":{"tags":["User"],"summary":"Set current geofence position","operationId":"User_SetGeofencePosition","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"distance","in":"query","description":"Distance from position","required":true,"type":"integer","format":"int32"},{"name":"address","in":"query","description":"Address of position","required":true,"type":"string"},{"name":"latitude","in":"query","description":"GPS latitude","required":false,"type":"number","format":"double"},{"name":"longitude","in":"query","description":"GPS longitude","required":false,"type":"number","format":"double"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/User/SetOutsideRegion":{"post":{"tags":["User"],"summary":"Set current user in or outside region. Outside region is not available, inside region only available when pager offline.","operationId":"User_SetOutsideRegion","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"hours","in":"query","description":"set unavailable for xx hours with the reason (outside region)","required":true,"type":"integer","format":"int32"},{"name":"region","in":"body","description":"Location with Geofence text EXIT or ENTER region","required":true,"schema":{"$ref":"#/definitions/WebApi_PreCom.Models.Region"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/User/GetUserCapcodes":{"get":{"tags":["User"],"summary":"Get all user capcodes","operationId":"User_GetUserCapcodes","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.Capcode"}}}}}},"/api/User/UpdateUserCapcode":{"post":{"tags":["User"],"summary":"Enable or disable user capcode","operationId":"User_UpdateUserCapcode","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"capcode","in":"query","description":"Capcode number","required":true,"type":"integer","format":"int32"},{"name":"enable","in":"query","description":"true to enable capcode","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/User/UpdateUserSound":{"post":{"tags":["User"],"summary":"Set the type of sounds for the user","operationId":"User_UpdateUserSound","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"userSound","in":"body","description":"given types of sound in datatype string: silent, vibrate, chirp, chirp2x, chirp4x, beep_short, beep_short2x, beep_short3x, pager, pager2x, pager3x, pager6x, siren, siren2x, siren3x, siren6x.","required":true,"schema":{"$ref":"#/definitions/WebApi_PreCom.Models.UserSound"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/User/GetShiftAppointments":{"get":{"tags":["User"],"summary":"Get the current shift appointments","operationId":"User_GetShiftAppointments","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WebApi_PreCom.Models.ShiftWork"}}}}},"/api/User/UpdateShiftAppointments":{"post":{"tags":["User"],"summary":"Update the current stored shift appointments in database","operationId":"User_UpdateShiftAppointments","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"shiftWork","in":"body","description":"ShiftWork with ShitWorkAppointments","required":true,"schema":{"$ref":"#/definitions/WebApi_PreCom.Models.ShiftWork"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/User/ImplementShiftAppointments":{"post":{"tags":["User"],"summary":"Set the current saved shift appointments in the user calendar","operationId":"User_ImplementShiftAppointments","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/User/GetGroupChange":{"get":{"tags":["User"],"summary":"Get current group change","operationId":"User_GetGroupChange","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WebApi_PreCom.Models.GroupChange"}}}}},"/api/User/GetAllGroupChanges":{"get":{"tags":["User"],"summary":"Get all group changes","operationId":"User_GetAllGroupChanges","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.GroupChange"}}}}}},"/api/User/AddGroupChangeForDays":{"post":{"tags":["User"],"summary":"Add new/update first group change day(s)","operationId":"User_AddGroupChangeForDays","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"groupId","in":"query","description":"Unique group id","required":true,"type":"integer","format":"int32"},{"name":"dates","in":"body","description":"List of days","required":true,"schema":{"type":"array","items":{"format":"date-time","type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/User/UpdateGroupChangeForDays":{"post":{"tags":["User"],"summary":"Add new/update specific group change day(s)","operationId":"User_UpdateGroupChangeForDays","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"groupUserID","in":"query","description":"Unique group change id","required":true,"type":"integer","format":"int32"},{"name":"groupId","in":"query","description":"Unique group id","required":true,"type":"integer","format":"int32"},{"name":"dates","in":"body","description":"List of days","required":true,"schema":{"type":"array","items":{"format":"date-time","type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/User/AddGroupChangeForPeriod":{"post":{"tags":["User"],"summary":"Add new/update first group change period","operationId":"User_AddGroupChangeForPeriod","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"groupId","in":"query","description":"Unique group id","required":true,"type":"integer","format":"int32"},{"name":"from","in":"query","description":"From moment","required":true,"type":"string","format":"date-time"},{"name":"to","in":"query","description":"To moment","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/User/UpdateGroupChangeForPeriod":{"post":{"tags":["User"],"summary":"Add new/update specific new group change period","operationId":"User_UpdateGroupChangeForPeriod","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"groupUserID","in":"query","description":"Unique group change id","required":true,"type":"integer","format":"int32"},{"name":"groupId","in":"query","description":"Unique group id","required":true,"type":"integer","format":"int32"},{"name":"from","in":"query","description":"From moment","required":true,"type":"string","format":"date-time"},{"name":"to","in":"query","description":"To moment","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/User/AddGroupChangePeriodically":{"post":{"tags":["User"],"summary":"Add new/update first group change periodically","operationId":"User_AddGroupChangePeriodically","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"groupId","in":"query","description":"Unique group id","required":true,"type":"integer","format":"int32"},{"name":"weekdays","in":"query","description":"Bit pattern active days","required":true,"type":"integer","format":"int32"},{"name":"startTime","in":"query","description":"Start time","required":true,"type":"string","format":"date-time"},{"name":"stopTime","in":"query","description":"Stop time","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/User/UpdateGroupChangePeriodically":{"post":{"tags":["User"],"summary":"Add new/update specific group change periodically","operationId":"User_UpdateGroupChangePeriodically","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"groupUserID","in":"query","description":"Unique group change id","required":true,"type":"integer","format":"int32"},{"name":"groupId","in":"query","description":"Unique group id","required":true,"type":"integer","format":"int32"},{"name":"weekdays","in":"query","description":"Bit pattern active days","required":true,"type":"integer","format":"int32"},{"name":"startTime","in":"query","description":"Start time","required":true,"type":"string","format":"date-time"},{"name":"stopTime","in":"query","description":"Stop time","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/User/DeleteOneTypeGroupChange":{"delete":{"tags":["User"],"summary":"Delete one group type change","operationId":"User_DeleteOneTypeGroupChange","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"groupId","in":"query","description":"Unique group id","required":true,"type":"integer","format":"int32"},{"name":"type","in":"query","description":"Change type to delete","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/User/DeleteGroupChange":{"delete":{"tags":["User"],"summary":"Delete current/first group change","operationId":"User_DeleteGroupChange","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/User/DeleteOneGroupChange":{"delete":{"tags":["User"],"summary":"Delete one group change with groupUserId","operationId":"User_DeleteOneGroupChange","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"groupUserId","in":"query","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/User/GetUserInfo":{"get":{"tags":["User"],"summary":"Receive user and group information.\r\nWhen NotAvailable is true, user is not available for alarm come up.\r\nWhen NoOccupancy is true, there are not enough people for a minimum group occupancy.","operationId":"User_GetUserInfo","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WebApi_PreCom.Models.V2.User"}}}}},"/api/v{version}/User/GetUserMenu":{"get":{"tags":["User"],"summary":"Receive menu for this user\r\nif nodeID is empty, returns homenode menu","operationId":"User_GetUserMenu","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"nodeID","in":"query","description":"Specific node Id","required":false,"type":"integer","format":"int32"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.Menu"}}}}}},"/api/v{version}/UserSound/UpdateUserSound":{"post":{"tags":["UserSound"],"summary":"Set the type of sounds for the user","operationId":"UserSound_UpdateUserSound","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"userSound","in":"body","description":"given types of sound in datatype string: silent, vibrate, chirp, chirp2x, chirp4x, beep_short, beep_short2x, beep_short3x, pager, pager2x, pager3x, pager6x, siren, siren2x, siren3x, siren6x.","required":true,"schema":{"$ref":"#/definitions/WebApi_PreCom.Models.UserSound"}},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}}},"definitions":{"WebApi_PreCom.Models.Region":{"type":"object","properties":{"Location":{"$ref":"#/definitions/WebApi_PreCom.Models.Location"}}},"WebApi_PreCom.Models.Location":{"type":"object","properties":{"Geofence":{"description":"Gets or sets with ENTER or EXIT","type":"string"}}},"WebApi_PreCom.Models.Capcode":{"type":"object","properties":{"CapcodeId":{"format":"int32","type":"integer"},"Enable":{"type":"boolean"},"Description":{"type":"string"}}},"WebApi_PreCom.Models.V1.Group":{"required":["GroupID","Code","Label","TimeCalculation"],"type":"object","properties":{"GroupID":{"format":"int32","type":"integer"},"Code":{"type":"string"},"Label":{"type":"string"},"TimeCalculation":{"type":"string"},"SchedulerDays":{"type":"object","additionalProperties":{"$ref":"#/definitions/WebApi_PreCom.Models.V1.Day"}},"ServiceFuntions":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.V1.ServiceFunction"}}}},"WebApi_PreCom.Models.V1.Day":{"type":"object","properties":{"Hour0":{"type":"boolean"},"Hour1":{"type":"boolean"},"Hour2":{"type":"boolean"},"Hour3":{"type":"boolean"},"Hour4":{"type":"boolean"},"Hour5":{"type":"boolean"},"Hour6":{"type":"boolean"},"Hour7":{"type":"boolean"},"Hour8":{"type":"boolean"},"Hour9":{"type":"boolean"},"Hour10":{"type":"boolean"},"Hour11":{"type":"boolean"},"Hour12":{"type":"boolean"},"Hour13":{"type":"boolean"},"Hour14":{"type":"boolean"},"Hour15":{"type":"boolean"},"Hour16":{"type":"boolean"},"Hour17":{"type":"boolean"},"Hour18":{"type":"boolean"},"Hour19":{"type":"boolean"},"Hour20":{"type":"boolean"},"Hour21":{"type":"boolean"},"Hour22":{"type":"boolean"},"Hour23":{"type":"boolean"}}},"WebApi_PreCom.Models.V1.ServiceFunction":{"type":"object","properties":{"ServiceFunctionID":{"format":"int32","type":"integer"},"Label":{"type":"string"},"NumberNeeded":{"format":"int32","type":"integer"},"NoOccupancy":{"type":"string"},"OccupancyDays":{"type":"object","additionalProperties":{"$ref":"#/definitions/WebApi_PreCom.Models.V1.Day"}},"DayTotals":{"type":"object","additionalProperties":{"$ref":"#/definitions/WebApi_PreCom.Models.V1.DayTotal"}},"Users":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.V1.User"}}}},"WebApi_PreCom.Models.V1.DayTotal":{"type":"object","properties":{"Hour0":{"format":"int32","type":"integer"},"Hour1":{"format":"int32","type":"integer"},"Hour2":{"format":"int32","type":"integer"},"Hour3":{"format":"int32","type":"integer"},"Hour4":{"format":"int32","type":"integer"},"Hour5":{"format":"int32","type":"integer"},"Hour6":{"format":"int32","type":"integer"},"Hour7":{"format":"int32","type":"integer"},"Hour8":{"format":"int32","type":"integer"},"Hour9":{"format":"int32","type":"integer"},"Hour10":{"format":"int32","type":"integer"},"Hour11":{"format":"int32","type":"integer"},"Hour12":{"format":"int32","type":"integer"},"Hour13":{"format":"int32","type":"integer"},"Hour14":{"format":"int32","type":"integer"},"Hour15":{"format":"int32","type":"integer"},"Hour16":{"format":"int32","type":"integer"},"Hour17":{"format":"int32","type":"integer"},"Hour18":{"format":"int32","type":"integer"},"Hour19":{"format":"int32","type":"integer"},"Hour20":{"format":"int32","type":"integer"},"Hour21":{"format":"int32","type":"integer"},"Hour22":{"format":"int32","type":"integer"},"Hour23":{"format":"int32","type":"integer"}}},"WebApi_PreCom.Models.V1.User":{"type":"object","properties":{"UserID":{"format":"int32","type":"integer"},"HomeNodeID":{"format":"int32","type":"integer"},"FullName":{"type":"string"},"LangID":{"format":"int32","type":"integer"},"NotAvailable":{"type":"boolean"},"NotAvailableTimestamp":{"format":"date-time","type":"string"},"NotAvailalbeScheduled":{"type":"boolean"},"NoOccupancy":{"type":"boolean"},"Homescreen":{"type":"string"},"AppNotifications":{"format":"int32","type":"integer"},"MaxVersionAllowed":{"format":"int32","type":"integer"},"SoundAlarm":{"type":"string"},"SoundInfo":{"type":"string"},"SoundUnderstaffing":{"type":"string"},"SoundOccupancy":{"type":"string"},"SoundProposal":{"type":"string"},"CriticalAlertsAlarm":{"type":"boolean"},"CriticalAlertsInfo":{"type":"boolean"},"CriticalAlertsUnderstaffing":{"type":"boolean"},"CriticalAlertsOccupancy":{"type":"boolean"},"CriticalAlertsProposal":{"type":"boolean"},"Geofence":{"$ref":"#/definitions/WebApi_PreCom.Models.Geofence"},"SchedulerDays":{"type":"object","additionalProperties":{"$ref":"#/definitions/WebApi_PreCom.Models.V1.Day"}},"ConsignmentAppointments":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.Appointment"}}}},"WebApi_PreCom.Models.Geofence":{"type":"object","properties":{"Selectable":{"type":"boolean"},"Address":{"type":"string"},"Latitude":{"format":"double","type":"number"},"Longitude":{"format":"double","type":"number"},"Distance":{"format":"int32","type":"integer"}}},"WebApi_PreCom.Models.Appointment":{"type":"object","properties":{"ServiceFunctionID":{"format":"int32","type":"integer"},"Start":{"format":"date-time","type":"string"},"Stop":{"format":"date-time","type":"string"}}},"WebApi_PreCom.Models.V2.Group":{"required":["GroupID","Code","Label","TimeCalculation"],"type":"object","properties":{"GroupID":{"format":"int32","type":"integer"},"Code":{"type":"string"},"Label":{"type":"string"},"TimeCalculation":{"type":"string"},"SchedulerDays":{"type":"object","additionalProperties":{"$ref":"#/definitions/WebApi_PreCom.Models.V2.Day"}},"ServiceFuntions":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.V2.ServiceFunction"}}}},"WebApi_PreCom.Models.V2.Day":{"type":"object","properties":{"Hour0":{"type":"boolean"},"Hour1":{"type":"boolean"},"Hour2":{"type":"boolean"},"Hour3":{"type":"boolean"},"Hour4":{"type":"boolean"},"Hour5":{"type":"boolean"},"Hour6":{"type":"boolean"},"Hour7":{"type":"boolean"},"Hour8":{"type":"boolean"},"Hour9":{"type":"boolean"},"Hour10":{"type":"boolean"},"Hour11":{"type":"boolean"},"Hour12":{"type":"boolean"},"Hour13":{"type":"boolean"},"Hour14":{"type":"boolean"},"Hour15":{"type":"boolean"},"Hour16":{"type":"boolean"},"Hour17":{"type":"boolean"},"Hour18":{"type":"boolean"},"Hour19":{"type":"boolean"},"Hour20":{"type":"boolean"},"Hour21":{"type":"boolean"},"Hour22":{"type":"boolean"},"Hour23":{"type":"boolean"},"Hour0_15":{"type":"boolean"},"Hour1_15":{"type":"boolean"},"Hour2_15":{"type":"boolean"},"Hour3_15":{"type":"boolean"},"Hour4_15":{"type":"boolean"},"Hour5_15":{"type":"boolean"},"Hour6_15":{"type":"boolean"},"Hour7_15":{"type":"boolean"},"Hour8_15":{"type":"boolean"},"Hour9_15":{"type":"boolean"},"Hour10_15":{"type":"boolean"},"Hour11_15":{"type":"boolean"},"Hour12_15":{"type":"boolean"},"Hour13_15":{"type":"boolean"},"Hour14_15":{"type":"boolean"},"Hour15_15":{"type":"boolean"},"Hour16_15":{"type":"boolean"},"Hour17_15":{"type":"boolean"},"Hour18_15":{"type":"boolean"},"Hour19_15":{"type":"boolean"},"Hour20_15":{"type":"boolean"},"Hour21_15":{"type":"boolean"},"Hour22_15":{"type":"boolean"},"Hour23_15":{"type":"boolean"},"Hour0_30":{"type":"boolean"},"Hour1_30":{"type":"boolean"},"Hour2_30":{"type":"boolean"},"Hour3_30":{"type":"boolean"},"Hour4_30":{"type":"boolean"},"Hour5_30":{"type":"boolean"},"Hour6_30":{"type":"boolean"},"Hour7_30":{"type":"boolean"},"Hour8_30":{"type":"boolean"},"Hour9_30":{"type":"boolean"},"Hour10_30":{"type":"boolean"},"Hour11_30":{"type":"boolean"},"Hour12_30":{"type":"boolean"},"Hour13_30":{"type":"boolean"},"Hour14_30":{"type":"boolean"},"Hour15_30":{"type":"boolean"},"Hour16_30":{"type":"boolean"},"Hour17_30":{"type":"boolean"},"Hour18_30":{"type":"boolean"},"Hour19_30":{"type":"boolean"},"Hour20_30":{"type":"boolean"},"Hour21_30":{"type":"boolean"},"Hour22_30":{"type":"boolean"},"Hour23_30":{"type":"boolean"},"Hour0_45":{"type":"boolean"},"Hour1_45":{"type":"boolean"},"Hour2_45":{"type":"boolean"},"Hour3_45":{"type":"boolean"},"Hour4_45":{"type":"boolean"},"Hour5_45":{"type":"boolean"},"Hour6_45":{"type":"boolean"},"Hour7_45":{"type":"boolean"},"Hour8_45":{"type":"boolean"},"Hour9_45":{"type":"boolean"},"Hour10_45":{"type":"boolean"},"Hour11_45":{"type":"boolean"},"Hour12_45":{"type":"boolean"},"Hour13_45":{"type":"boolean"},"Hour14_45":{"type":"boolean"},"Hour15_45":{"type":"boolean"},"Hour16_45":{"type":"boolean"},"Hour17_45":{"type":"boolean"},"Hour18_45":{"type":"boolean"},"Hour19_45":{"type":"boolean"},"Hour20_45":{"type":"boolean"},"Hour21_45":{"type":"boolean"},"Hour22_45":{"type":"boolean"},"Hour23_45":{"type":"boolean"}}},"WebApi_PreCom.Models.V2.ServiceFunction":{"type":"object","properties":{"ServiceFunctionID":{"format":"int32","type":"integer"},"Label":{"type":"string"},"NumberNeeded":{"format":"int32","type":"integer"},"NoOccupancy":{"type":"string"},"OccupancyDays":{"type":"object","additionalProperties":{"$ref":"#/definitions/WebApi_PreCom.Models.V2.Day"}},"DayTotals":{"type":"object","additionalProperties":{"$ref":"#/definitions/WebApi_PreCom.Models.V2.DayTotal"}},"Users":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.V2.User"}}}},"WebApi_PreCom.Models.V2.DayTotal":{"type":"object","properties":{"Hour0":{"format":"int32","type":"integer"},"Hour1":{"format":"int32","type":"integer"},"Hour2":{"format":"int32","type":"integer"},"Hour3":{"format":"int32","type":"integer"},"Hour4":{"format":"int32","type":"integer"},"Hour5":{"format":"int32","type":"integer"},"Hour6":{"format":"int32","type":"integer"},"Hour7":{"format":"int32","type":"integer"},"Hour8":{"format":"int32","type":"integer"},"Hour9":{"format":"int32","type":"integer"},"Hour10":{"format":"int32","type":"integer"},"Hour11":{"format":"int32","type":"integer"},"Hour12":{"format":"int32","type":"integer"},"Hour13":{"format":"int32","type":"integer"},"Hour14":{"format":"int32","type":"integer"},"Hour15":{"format":"int32","type":"integer"},"Hour16":{"format":"int32","type":"integer"},"Hour17":{"format":"int32","type":"integer"},"Hour18":{"format":"int32","type":"integer"},"Hour19":{"format":"int32","type":"integer"},"Hour20":{"format":"int32","type":"integer"},"Hour21":{"format":"int32","type":"integer"},"Hour22":{"format":"int32","type":"integer"},"Hour23":{"format":"int32","type":"integer"},"Hour0_15":{"format":"int32","type":"integer"},"Hour1_15":{"format":"int32","type":"integer"},"Hour2_15":{"format":"int32","type":"integer"},"Hour3_15":{"format":"int32","type":"integer"},"Hour4_15":{"format":"int32","type":"integer"},"Hour5_15":{"format":"int32","type":"integer"},"Hour6_15":{"format":"int32","type":"integer"},"Hour7_15":{"format":"int32","type":"integer"},"Hour8_15":{"format":"int32","type":"integer"},"Hour9_15":{"format":"int32","type":"integer"},"Hour10_15":{"format":"int32","type":"integer"},"Hour11_15":{"format":"int32","type":"integer"},"Hour12_15":{"format":"int32","type":"integer"},"Hour13_15":{"format":"int32","type":"integer"},"Hour14_15":{"format":"int32","type":"integer"},"Hour15_15":{"format":"int32","type":"integer"},"Hour16_15":{"format":"int32","type":"integer"},"Hour17_15":{"format":"int32","type":"integer"},"Hour18_15":{"format":"int32","type":"integer"},"Hour19_15":{"format":"int32","type":"integer"},"Hour20_15":{"format":"int32","type":"integer"},"Hour21_15":{"format":"int32","type":"integer"},"Hour22_15":{"format":"int32","type":"integer"},"Hour23_15":{"format":"int32","type":"integer"},"Hour0_30":{"format":"int32","type":"integer"},"Hour1_30":{"format":"int32","type":"integer"},"Hour2_30":{"format":"int32","type":"integer"},"Hour3_30":{"format":"int32","type":"integer"},"Hour4_30":{"format":"int32","type":"integer"},"Hour5_30":{"format":"int32","type":"integer"},"Hour6_30":{"format":"int32","type":"integer"},"Hour7_30":{"format":"int32","type":"integer"},"Hour8_30":{"format":"int32","type":"integer"},"Hour9_30":{"format":"int32","type":"integer"},"Hour10_30":{"format":"int32","type":"integer"},"Hour11_30":{"format":"int32","type":"integer"},"Hour12_30":{"format":"int32","type":"integer"},"Hour13_30":{"format":"int32","type":"integer"},"Hour14_30":{"format":"int32","type":"integer"},"Hour15_30":{"format":"int32","type":"integer"},"Hour16_30":{"format":"int32","type":"integer"},"Hour17_30":{"format":"int32","type":"integer"},"Hour18_30":{"format":"int32","type":"integer"},"Hour19_30":{"format":"int32","type":"integer"},"Hour20_30":{"format":"int32","type":"integer"},"Hour21_30":{"format":"int32","type":"integer"},"Hour22_30":{"format":"int32","type":"integer"},"Hour23_30":{"format":"int32","type":"integer"},"Hour0_45":{"format":"int32","type":"integer"},"Hour1_45":{"format":"int32","type":"integer"},"Hour2_45":{"format":"int32","type":"integer"},"Hour3_45":{"format":"int32","type":"integer"},"Hour4_45":{"format":"int32","type":"integer"},"Hour5_45":{"format":"int32","type":"integer"},"Hour6_45":{"format":"int32","type":"integer"},"Hour7_45":{"format":"int32","type":"integer"},"Hour8_45":{"format":"int32","type":"integer"},"Hour9_45":{"format":"int32","type":"integer"},"Hour10_45":{"format":"int32","type":"integer"},"Hour11_45":{"format":"int32","type":"integer"},"Hour12_45":{"format":"int32","type":"integer"},"Hour13_45":{"format":"int32","type":"integer"},"Hour14_45":{"format":"int32","type":"integer"},"Hour15_45":{"format":"int32","type":"integer"},"Hour16_45":{"format":"int32","type":"integer"},"Hour17_45":{"format":"int32","type":"integer"},"Hour18_45":{"format":"int32","type":"integer"},"Hour19_45":{"format":"int32","type":"integer"},"Hour20_45":{"format":"int32","type":"integer"},"Hour21_45":{"format":"int32","type":"integer"},"Hour22_45":{"format":"int32","type":"integer"},"Hour23_45":{"format":"int32","type":"integer"}}},"WebApi_PreCom.Models.V2.User":{"type":"object","properties":{"UserID":{"format":"int32","type":"integer"},"HomeNodeID":{"format":"int32","type":"integer"},"FullName":{"type":"string"},"LangID":{"format":"int32","type":"integer"},"NotAvailable":{"type":"boolean"},"NotAvailableTimestamp":{"format":"date-time","type":"string"},"NotAvailalbeScheduled":{"type":"boolean"},"NoOccupancy":{"type":"boolean"},"Homescreen":{"type":"string"},"AppNotifications":{"format":"int32","type":"integer"},"MaxVersionAllowed":{"format":"int32","type":"integer"},"SoundAlarm":{"type":"string"},"SoundInfo":{"type":"string"},"SoundUnderstaffing":{"type":"string"},"SoundOccupancy":{"type":"string"},"SoundProposal":{"type":"string"},"CriticalAlertsAlarm":{"type":"boolean"},"CriticalAlertsInfo":{"type":"boolean"},"CriticalAlertsUnderstaffing":{"type":"boolean"},"CriticalAlertsOccupancy":{"type":"boolean"},"CriticalAlertsProposal":{"type":"boolean"},"Geofence":{"$ref":"#/definitions/WebApi_PreCom.Models.Geofence"},"SchedulerDays":{"type":"object","additionalProperties":{"$ref":"#/definitions/WebApi_PreCom.Models.V2.Day"}},"ConsignmentAppointments":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.Appointment"}}}},"WebApi_PreCom.Models.GroupChange":{"type":"object","properties":{"GroupUserID":{"format":"int32","type":"integer"},"GroupID":{"format":"int32","type":"integer"},"Code":{"type":"string"},"Label":{"type":"string"},"Type":{"format":"int32","type":"integer"},"Dates":{"type":"array","items":{"format":"date-time","type":"string"}},"From":{"format":"date-time","type":"string"},"To":{"format":"date-time","type":"string"},"Weekdays":{"format":"int32","type":"integer"},"StartTime":{"format":"date-time","type":"string"},"StopTime":{"format":"date-time","type":"string"}}},"WebApi_PreCom.Models.Information":{"required":["NodeID","Info"],"type":"object","properties":{"NodeID":{"format":"int32","type":"integer"},"Info":{"type":"string"},"ImgID":{"format":"int32","type":"integer"},"Name":{"type":"string"}}},"WebApi_PreCom.Models.V2.MsgInLog":{"type":"object","properties":{"MsgInID":{"format":"int32","type":"integer"},"Timestamp":{"format":"date-time","type":"string"},"Text":{"type":"string"},"Group":{"$ref":"#/definitions/WebApi_PreCom.Models.V2.Group"}}},"WebApi_PreCom.Models.MsgOut":{"type":"object","properties":{"MsgOutID":{"format":"int32","type":"integer"},"ControlID":{"type":"string"},"MsgInID":{"format":"int32","type":"integer"},"Timestamp":{"format":"date-time","type":"string"},"ValidTo":{"format":"date-time","type":"string"},"Text":{"type":"string"},"MsgIn":{"$ref":"#/definitions/WebApi_PreCom.Models.MsgIn"}}},"WebApi_PreCom.Models.MsgIn":{"type":"object","properties":{"MsgInID":{"format":"int32","type":"integer"},"Text":{"type":"string"}}},"WebApi_PreCom.Models.V2.UserPiketScheduleAppointment":{"type":"object","properties":{"ScheduleAppointmentID":{"format":"int32","type":"integer"},"UserID":{"format":"int32","type":"integer"},"GroupID":{"format":"int32","type":"integer"},"ServiceFunctionID":{"format":"int32","type":"integer"},"Startdate":{"format":"date-time","type":"string"},"Enddate":{"format":"date-time","type":"string"}}},"PreCom.Model.Receiver":{"required":["Type","ID"],"type":"object","properties":{"Type":{"format":"int32","type":"integer"},"ID":{"format":"int32","type":"integer"},"Label":{"type":"string"}}},"WebApi_PreCom.Models.TemplatePreComMsg":{"type":"object","properties":{"ID":{"format":"int32","type":"integer"},"Label":{"type":"string"},"Text":{"type":"string"}}},"WebApi_PreCom.Models.PreComMsg":{"type":"object","properties":{"SendBy":{"format":"int32","type":"integer"},"Priority":{"type":"boolean"},"Response":{"type":"boolean"},"CalculateGroupID":{"format":"int32","type":"integer"},"ValidFrom":{"format":"date-time","type":"string"},"Message":{"type":"string"},"Receivers":{"type":"array","items":{"$ref":"#/definitions/PreCom.Model.Receiver"}}}},"WebApi_PreCom.Controllers.RegistrationController+DeviceRegistration":{"type":"object","properties":{"Platform":{"type":"string"},"Handle":{"type":"string"},"Tags":{"type":"array","items":{"type":"string"}}}},"WebApi_PreCom.Controllers.V2.RegistrationController+DeviceRegistration":{"type":"object","properties":{"Platform":{"type":"string"},"Handle":{"type":"string"},"Tags":{"type":"array","items":{"type":"string"}}}},"WebApi_PreCom.Models.SchedulerAppointment":{"type":"object","properties":{"Start":{"format":"date-time","type":"string"},"Duration":{"type":"string"}}},"WebApi_PreCom.Models.ShiftWork":{"type":"object","properties":{"ShiftWorkID":{"format":"int32","type":"integer"},"AmountOfDays":{"format":"int32","type":"integer"},"ShiftType":{"format":"int32","type":"integer"},"StartDate":{"format":"date-time","type":"string"},"ShiftWorkDays":{"type":"array","items":{"$ref":"#/definitions/WebApi_PreCom.Models.ShiftWorkDay"}}}},"WebApi_PreCom.Models.ShiftWorkDay":{"type":"object","properties":{"ShiftWorkDayID":{"format":"int32","type":"integer"},"Day":{"format":"int32","type":"integer"},"MomentNbr":{"format":"int32","type":"integer"},"TimeFrom":{"format":"int32","type":"integer"},"TimeTo":{"format":"int32","type":"integer"}}},"WebApi_PreCom.Models.Menu":{"type":"object","properties":{"ID":{"format":"int32","type":"integer"},"ParentID":{"format":"int32","type":"integer"},"IsMenu":{"type":"boolean"},"Sequence":{"format":"int32","type":"integer"},"Label":{"type":"string"}}},"WebApi_PreCom.Models.V1.MsgInLog":{"type":"object","properties":{"MsgInID":{"format":"int32","type":"integer"},"Timestamp":{"format":"date-time","type":"string"},"Text":{"type":"string"},"Group":{"$ref":"#/definitions/WebApi_PreCom.Models.V1.Group"}}},"WebApi_PreCom.Models.UserSound":{"type":"object","properties":{"SoundAlarm":{"type":"string"},"SoundInfo":{"type":"string"},"SoundUnderstaffing":{"type":"string"},"SoundOccupancy":{"type":"string"},"SoundProposal":{"type":"string"},"CriticalAlertsAlarm":{"type":"boolean"},"CriticalAlertsInfo":{"type":"boolean"},"CriticalAlertsUnderstaffing":{"type":"boolean"},"CriticalAlertsOccupancy":{"type":"boolean"},"CriticalAlertsProposal":{"type":"boolean"}}}},"securityDefinitions":{"apiKey":{"type":"apiKey","description":"API Key Authentication","name":"Authorization","in":"header"},"oauth2":{"type":"oauth2","description":"OAuth2 Implicit Grant","flow":"implicit","authorizationUrl":"http://localhost:50853/Token","scopes":{"read":"Read access to protected resources","write":"Write access to protected resources"}}}}